[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/websocke"]
	path = components/websocke
	url = https://github.com/Molorius/esp32-websocket.git
[submodule "filesystem/root"]
	path = filesystem/root
	url = http://git.become.cool:3110/beshell.fs.git
